.section {font-size: 40px;text-align: center;}
html {}
body {font:16px "Microsoft Yahei",verdana;}

header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 100;
	opacity: 1;	
}
#header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	height: 76px;
	z-index: 1;
	background: #999;
	box-shadow: 0 0 10px #ccc;
	/*-webkit-transition: all 5s ease;
	transition: all 5s ease;*/
}
#logo {
	float: left;
	margin: 5px 30px;
}
header img {
	width: 60px;
	height: 60px;
	border-radius: 30px;
	-webkit-transition: box-shadow .5s;
	transition: box-shadow .5s;
}
header img:hover {
	box-shadow: 0 0 15px red;
}
#header_img,#header_p {
	float: left;
}
#header_p {
	margin-left: 15px;
	text-align: center;
	color: #000;
}

#header_p1 {
	margin: 0px 15px 5px;
	padding: 5px 15px;
	width: 50px;
	border-bottom: 1px solid #333;
}
#header_p2 {
	padding: 0 15px;
}
nav {
	margin-top: 30px;
	margin-right: 60px;
}
nav {
	float: right;
}
nav li {
	float: left;
	margin: 0 20px;
}
nav li a {
	padding: 25px 0;
	position: relative;	
	color: #666;
}
nav li a {text-decoration: none;}
nav li a:after {
	content: "";
	position: absolute;
	left: 50%;
	right: 50%;
	bottom: 0;
	height: 2px;
	background: red;
	opacity: 0;
	-webkit-transition: .2s ease;
	transition: .2s ease;
}
nav li a:hover {
	color: #000;

}
nav li a:hover:after {
	left: 0px;
	right: 0px;
	opacity: 0.7;
}





.section {text-align: center;overflow: hidden;position: relative;}
.section1 {background: url(../images/bg1.jpg) no-repeat center;background-size:270% 150%;}
.section2,.section3,.section4,.section5,.section6{background: url(../images/bg1.jpg) center no-repeat;background-size: cover;}
.section3 div {}

#home {height: 80%;padding-top: 10%;}
#home_content {opacity: 1;}
#home_head {height: 170px;position: relative;}
#home_head_content {padding-top: 400px;width: 150px;height: 150px;
	position: relative;left: 50%;margin-left: -75px;}
#home_head_content img {border-radius: 75px;width: 150px;height: 150px;border: 2px solid rgba(0,128,255,0.5);
	-webkit-transition: box-shadow .5s;
	transition: box-shadow .5s;position: absolute;}
#home_head_content img:hover {cursor: pointer;}

#home_photo1 {position: absolute;left: 0;z-index: 1}

#home_photo2 {position: absolute;left:0;z-index: 0}
#home_info_box { font-size: 16px;margin: 15px auto;width: 0;border-top: 2px solid rgba(0,128,255,0.5); }
#home_info1 {font-size: 20px;margin: 25px auto;width: 60%;font-weight: bold;display: none;}
#home_info2 {padding-top: 25px;display: none;}
#home_info3 {margin: 15px auto;display: none;}
#home_info4 {margin: 15px auto;display: none;}
#home_info5 {margin: 15px auto;display: none;}
#home_info6 {margin: 15px auto;display: none;}



#about {height: 90%;font-size: 16px;}
#about_content {padding-top: 77px;height: 510px;}
.title {font-size: 20px;font-weight: bold;}
#about_list_content {margin: 50px auto;width: 800px;height: 150px;padding: 20px 0;border-radius: 30px;background: #a0a0b4;}
.about_list {
	float: left;
	margin-left: 120px;
	cursor: pointer;
}
#about_list1 {
	margin-left: 60px;
}
.title {height: 80px;}
.title h1 {font-size: 30px;}
.title_en {
	width: 0;
	margin: 3px auto;
	padding: 5px 0;
	border-top: 2px solid #f00;
}
.title_en h2 {
	display: none;
	font-family: "allerbold";
    font-weight: bold;
    color: #f00;
    text-transform: uppercase;
    font-size: 16px;
    width: 140px;
}
#about_info {width: 0;
	clear: both;
	margin: 50px auto;
	height: 160px;
	position: relative;
	overflow: hidden;}
#about_info:before, #about_info:after {
	position: absolute;
	width: 50px;
	height: 50px;
	content: "";
}
#about_info:before {
	top: 0;
	left: 0;
	border-top: 2px solid #5686D6;
	border-left: 2px solid #5686D6;
}
#about_info:after {
	bottom: 0;
	right: 0;
	border-right: 2px solid #5686D6;
	border-bottom: 2px solid #5686D6;
}
#about_info p {
	text-align: center;
	line-height: 40px;
	position: relative;
	}
#about_info p:nth-child(1), #about_info p:nth-child(2) ,#about_info p:nth-child(3) ,#about_info p:nth-child(4) {padding-top: 500px;}

.about_list_eg {
	width: 80px;
	height: 80px;
	box-shadow: 0 0 0 4px rgba(255,255,255,1);
	border-radius: 50%;
	overflow: hidden;
	color: #fff;
	-webkit-transition: background 1s, color 1s, box-shadow 1s;
	transition: background 1s, color 1s, box-shadow 1s;

}
.about_list:hover .about_list_eg {
	background: rgba(255,255,255,1);
	color: #702fa8;
	box-shadow: 0px 0px 0px 8px rgba(255,255,255,0.3);
}
/*page2鼠标移入动画效果*/
.about_list:hover .about_list_eg:before{
	-webkit-animation: l_to_r 1s forwards;
	-moz-animation: l_to_r 1s forwards;
	-o-animation: l_to_r 1s forwards;
	animation: l_to_r 1s forwards;
}
@-webkit-keyframes l_to_r {
	49% {
		-webkit-transform: translate(100%);
		transform: translate(100%);
	}
	50% {
		-webkit-transform: translate(-100%);
		transform: translate(-100%);
		opacity: 0;
	}
}
@-moz-keyframes l_to_r {
	49% {
		transform: translate(100%);
	}
	50% {
		transform: translate(-100%);
		opacity: 0;
	}
}
@-o-keyframes l_to_r {
	49% {
		transform: translate(100%);
	}
	50% {
		transform: translate(-100%);
		opacity: 0;
	}
}
@keyframes l_to_r {
	49% {
		transform: translate(100%);
	}
	50% {
		transform: translate(-100%);
		opacity: 0;
	}
}
.about_list_eg:before {
	display: block;
    line-height: 130px;
	text-align: center;
}
#about_en_edu:before {
	text-align: center;
	content: url(../images/ss.png);
}
#about_en_age:before {
	content: url(../images/tx.png);
}
#about_en_loc:before {
	content: url(../images/dd.png);
}
#about_en_sta:before {
	content: url(../images/zz.png);
}
.about_list_cn {
	padding-top: 20px;
	line-height: 20px;
	position: relative;
	color: #fff;
	font-size: 14px;
}
.about_list_cn  span {text-align: left;margin-left: 0;display: block;}
.about_list_cn p {
	padding-top: 10px;
	text-align: right;
	font-size: 14px;
}
.about_list_cn p:before {
	display: block;
	content: "";
	position: absolute;
	background: #ccc;
	height: 2px;
	width: 90px;
	bottom: 25px;
	-webkit-transform: rotate(-30deg);
	transform: rotate(-30deg);
}

/*page3*/
#skill_content {padding-top: 70px;width: 100%;}
#skill {font-size: 14px;width: 100%}
#skill_info {
	margin: 10px auto 0;
	width: 100%;
	line-height: 30px;
}
#skill_info p {
	text-align: center;
}
#skill_list {
	display: block;
	margin: 5% auto;
	width: 100%;
	font-size: 16px;
	height: 400px;
	width: 60%;
	text-align: center;
	/*background-color: #ccc;*/
}
#skill_list1,#skill_list2,#skill_list3,#skill_list4 {width: 25%;}
#skill_list ul {
	list-style: disc;
	list-style-position: inside;
}
.skill_list_content {
	float: left;
	position: relative;
	height: 400px;
	visibility: hidden;
	;
}

.skill_icon {
    cursor: pointer;
    background-size: 100%;
	width: 100px;
	height: 100px;
	text-align: center;
	margin: 20px auto;
    webkit-transform: scale(1);
    transform: scale(1);
    transition : transform .25s;
    border: 2px solid #000;
    border-radius: 50px;
}

.skill_icon:hover{
	
    webkit-transform: scale(1.2);
    transform: scale(1.2);
    transition : transform .25s;
}
#skill_icon1{
    background: url(../images/jq1.png) center no-repeat ;
}
#skill_icon2{
    background: url(../images/ht.png) center no-repeat ;
}
#skill_icon3{
    background: url(../images/css.png) center no-repeat ;
}
#skill_icon4{
    background: url(../images/js.png) center  no-repeat ;
}
.skill_name {
	text-align: center;
	width: 100%;
	position: relative;
}
.skill_flag {
	margin: 20px auto;
	width: 20px;
	height: 20px;
	background: url(../images/flag.png);
	-webkit-transition-duration: .5s;
	transition-duration: .5s;
}
.skill_flag_scale {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}
.skill_int {
	position: absolute;
	top: 250px;
	width: 320px;
	left: -20%;
	font-size: 14px;
	line-height: 20px;
	display: none;
	border: 1px solid #ccc;
	border-radius: 10px;
	padding: 15px;
	background: #c8c8dc;
}
.skill_int li {
	font-size: 12px;
	padding-left: 15px;
	text-align: left;
}
/*自定义page3动画载入效果*/
@-webkit-keyframes skill_scale {
	0% {
		opacity: 0.1;
		-webkit-transform:scale(0.3);
		transform:scale(0.3);
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);	
	}
}
@-moz-keyframes skill_scale {
	0% {
		opacity: 0.1;
		transform:scale(0.3);
	}
	100% {
		opacity: 1;
		transform: scale(1);	
	}
}
@-o-keyframes skill_scale {
	0% {
		opacity: 0.1;
		transform:scale(0.3);
	}
	100% {
		opacity: 1;
		transform: scale(1);	
	}
}
@keyframes skill_scale {
	0% {
		opacity: 0.1;
		transform:scale(0.3);
	}
	100% {
		opacity: 1;
		transform: scale(1);	
	}
}
.skill_scale {
	-webkit-animation: skill_scale 1s;
	-moz-animation: skill_scale 1s;
	-o-animation: skill_scale 1s;
	animation: skill_scale 1s;
	visibility: visible;
}
.flag {display: none;}

/*page4*/
.section4 {}
#exp {height: 100%;}
#exp a {text-decoration: none;color: #000;}
#exp_info {font-size: 12px;}
#exp_content  {padding-top: 70.6667px}
#exp_info {
	margin: 10px auto 10px;
	width: 1000px;
	line-height: 30px;
}
#exp_info p {
	text-align: center;
}
#exp_list_slider {
	width: 1000px;
	overflow: hidden;
	margin: 0 auto;	
}
#exp_list_slider_content {
	position: relative;
}

#exp_list_to {
	/*display: none;*/
	opacity: 0.1;
}
#exp_list_toleft,#exp_list_toright {
	position: absolute;
	width: 60px;
	height: 60px;
	top: 42%;
	z-index: 100;
	cursor: pointer;
}
#exp_list_toleft {
	left: 2%;
}
#exp_list_toright {
	right: 2%;
}
#exp_list_content {
	opacity: .1;
	width: 3000px;
	line-height: 30px;
	height: 320px;
	position: relative;	
	margin: 10px auto;
	
}
#exp_list_content a {
	border-bottom: 1px dashed #666;
}
#exp_list_content a:hover {
	color: #f00;
	border-bottom-color: #f00;
}
.exp_list {
	float: left;
	width: 1000px;
	height: 320px;
	background: url(../images/bg4.png) center no-repeat;
	background-size: cover;
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.4) inset;
}
.exp_list_left {
	width:533px;
}
.exp_list dl {
	margin-left: 140px;
	margin-top: 36px;
}
.exp_list_first{

}
.exp_list dt {
	font-size: 22px;
	margin-bottom: 30px;
}
.exp_list dd {
	position: relative;
	font-size: 14px;
}
.exp_list dd:before {
	position: absolute;
	left: -15px;
	top: 13px;
	content: "";
	width: 4px;
	height: 4px;
	background: #000;
	border-radius: 50%;
}
.exp_list_time {
	font-size: 12px !important;
	margin-top: -20px;
	color: #333;
}
.exp_list_time:before{
    position:static !important;
}
#exp_timeline {
	text-indent: -9999px;
	margin: 30px auto;
	width: 0px;
	background: url(../images/a3.png) no-repeat center center;
}
#exp_timeline div {
	width: 390px;
	height: 50px;
	margin: 0 auto;
}
#exp_timeline a {
	font-size: 20px;
	display: block;
	float: left;
	text-align: center;
	margin: 10px 50px;
	width: 30px;
	height: 30px;
	cursor: pointer;
}
.exp_timeline_title{

	position:absolute;
	background:#fff;
	border:10px solid #333;
	border-radius:5px;
	line-height:20px;
	padding:0 5px;
	display:none;

}
/*.exp_scale {
	visibility: normal;
}*/
.exp_list {text-align: left;}

/*page5*/
#demo {font-size: 12px;}
#demo_content {padding-top: 70px;}
#demo a {text-decoration: none;color: #000;}
#demo_content_list {
	margin: 50px auto 20px;
	width: 1000px;
	height: 200px;
}
.demo_box li {
	z-index: 2;
	width: 200px;
	height: 150px;
	margin: 25px;
	float: left;
	position: relative;
	outline: 2px solid #efefef;  
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 60px rgba(0, 0, 0, 0.1) inset;
	background: #fff;
}
.demo_box li:before {
	z-index: -2;
	position: absolute;
	width: 90%;
	height: 80%;
	content: "";
	left: 14px;
	bottom: 8px;
	background: transparent;
	-webkit-transform: skew(-12deg) rotate(-4deg);
	transform: skew(-12deg) rotate(-4deg);
	box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6); 
}
.demo_box li:after {
	z-index: -1;
	position: absolute;
	width: 90%;
	height: 80%;
	content: "";
	right: 14px;
	bottom: 8px;
	background: transparent;
	-webkit-transform: skew(12deg) rotate(4deg);
	transform: skew(12deg) rotate(4deg);
	box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6); 
}
.demo_box_bg {
	width: 200px;
	height: 150px;
}
.demo_box_content {
	position: relative;
	overflow: hidden;
	cursor: pointer;
}
.demo_box_hover {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.1);
	-webkit-transition: background 2s;	
	transition: background 2s;	
}
.demo_box li:hover .demo_box_hover {
	background: rgba(238, 124, 123, 0.8);
}
.demo_box_title {
	text-align: center;
	padding: 30px 0;
	font-size: 20px;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	-webkit-transform: translateY(-1000px);
	transform: translateY(-1000px);
	-webkit-transition-duration: .5s;
	transition-duration: .5s;
}
.demo_box li:hover .demo_box_title {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
.demo_box_hover_icon {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -28px;
}
.demo_box_hover_icon img {
	width: 56px;
	height: 56px;
}
.demo_box_link {
	border-radius: 50%;
	position: relative;
	top: 1000px;
	display: block;
	-webkit-transition: top .5s;
	transition: top .5s;
}
.demo_box li:hover .demo_box_link {
	top: 0;
}
#demo_info {
	clear: both;
	padding-top: 50px;
	border-top: 1px solid #f00;
	width: 950px;
  	margin: 0 auto;
}
#demo_info p {
	width: 800px;
	margin: 0 auto;
	text-align: center;
	line-height: 30px;
}
#demo_info p a {
	font-weight: bold;
}
#demo_info p a:hover {
	color: #f00;
}
.demo_scale {
	visibility: normal;
}
/*page6*/
#contact {font-size: 14px;padding-top: 70px;}
#contact_head {
	margin: 40px auto 20px;
	width: 1000px;
	/*visibility: hidden;*/
}
#contact_head1,
#contact_head2 {
	text-align: center;
	/*display: none;*/
}
#contact_head1 {
	font-size: 24px;
	/*display: none;	*/
}
#contact_head2 {
	font-size: 30px;
	text-transform: uppercase;
}
#contact_head2 span:nth-child(1) {
	color: #f00;
}
#contact_head2 span:nth-child(2) {
	color: #3cf;
}
#contact_head2 span:nth-child(3) {
	color: #6c0;
}
#contact_head2 span:nth-child(4) {
	color:#f63;
}
#contact_info {
	margin: 10px auto;
	padding: 40px 0 20px;
	width: 1000px;
	text-align: center;
	position: relative;
	height: 130px;
}
#contact_info p{
	line-height: 30px;
}
#contact_info p:nth-child(n+4){
	font-weight:bold;
}
.contact_scale {
	visibility: hidden;
	line-height: 30px;
}
#contact_way {
	margin: 20px auto;
	width: 1000px;
}
#contact_form {
	display: none;
	text-align: center;
	padding-top: 80px;
	font-size: 14px;
}
#contact_form a {
	color: #3cf;
}
#contact_form a:hover {
	text-decoration:underline;
}
#contact textarea {
	display: block;
	margin: 0 auto;
	width: 246px;
	height: 80px;
	line-height: 16px;
	border: #35a5e5 1px solid;
	border-radius: 3px;
	outline: none;
	-webkit-transition: all 0.30s ease-in-out;
	transition: all 0.30s ease-in-out;
}
#contact_form textarea:focus {
	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}
#contact_submit {
	display: block;
	width: 254px;
	line-height: 30px;
	background: rgba(81, 203, 238, 1);
	color: #fff;
	border-radius: 3px;
	-webkit-transition: background linear 0.30s;
	transition: background linear 0.30s;
	text-align: center;
	margin: 10px auto 0; 
}
#contact_submit:hover {
	background: rgba(39, 154, 187, 1);
}
.contact_message {
	float: left;
	margin: 80px 450px;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: #ccc;
	text-align: center;
	line-height: 100px;
}
#contact_message1 {
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}
#contact_message1:hover {
	box-shadow: 0 0 10px #279ABB;
}
#contact_message2 {
	display: none;
}
footer {
	font-size: 12px;
	position: absolute;
	bottom: 0;
	padding-top: 10px;
	width: 100%;
	border: #ccc 2px solid;
}
.footer {
	line-height: 24px;
	text-align: center;
	color: #666;
}
footer div a {
	display: inline-block;
	margin: 0 5px;
	color: #666;
}
footer div a:hover {
	color: #930709;
}
@-webkit-keyframes fade_in {
	0%{
			
		opacity: 0.1;
	}
	100%{
		
		opacity: 1;
	}
}
@-moz-keyframes fade_in {
	0%{
		opacity: 0.1;
	}
	100%{
		opacity: 1;
	}
}
@-o-keyframes fade_in {
	0%{
		opacity: 0.1;
	}
	100%{
		opacity: 1;
	}
}
@keyframes fade_in {
	0%{
		opacity: 0.1;
	}
	100%{
		opacity: 1;
	}
}
.fade_in {
	-webkit-animation: fade_in 1s;
	-moz-animation: fade_in 1s;
	-o-animation: fade_in 1s;
	animation: fade_in 1s;
	visibility: visible;
}
@-webkit-keyframes b_to_t {
	0%{
		-webkit-transform: translateY(20px);
		transform: translateY(20px);	
		opacity: 0.1;
	}	
	100%{
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
}
@-moz-keyframes b_to_t {
	0%{
		transform: translateY(20px);	
		opacity: 0.1;
	}	
	100%{
		transform: translateY(0);
		opacity: 1;
	}
}
@-o-keyframes b_to_t {
	0%{
		transform: translateY(20px);	
		opacity: 0.1;
	}	
	100%{
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes b_to_t {
	0%{
		transform: translateY(20px);	
		opacity: 0.1;
	}	
	100%{
		transform: translateY(0);
		opacity: 1;
	}
}
.b_to_t {
	-webkit-animation: b_to_t 1s;
	-moz-animation: b_to_t 1s;
	-o-animation: b_to_t 1s;
	animation: b_to_t 1s;
	visibility: visible;
}
/*css*/


/*响应式布局*/
@media screen and (max-width:1366px){
#header {
	height: 60px;
}
#logo {
	margin: 0 30px;
}
nav {
	margin-top: 18px;
}
}

@media screen and (max-width:640px){
#header {
	height: 80px;
}
#header_p {margin-left: 46%}
#header_p1 {padding-top: 0;}
#logo {
	margin: 10px 20px;width: 100%;
}
nav {
	/*margin-top: 18px;*/
	display: none;
}
#home_content {margin-top: 30%}
#home_info2 {border-top: 1px solid rgb(0, 128, 255);width: 80%;margin: 0 auto}
#home_info {width: 100%;}
#home_info_box {width: 100% !important;font-size: 20px !important;}
#home_info_box {border:none !important;}
/*page2*/
.title h1 {font-size: 24px !important;}
#about_list_content {margin: 0 auto;}
#about_info {width: 100% !important;margin-top: 20px !important;height: 38%;}
#about_list_content {width: 100%;height: 50%;}
.about_list {margin-left: 80px;padding-top: 8px;}
#about_list1 {margin-left: 80px;}
#about_info p {line-height: 38px;}
.about_list_cn {height: 20px;}
.about_list_cn  p {margin: -20px;padding: 0;}
.about_list_cn p:before {content: '';transform: rotate(-90deg);width: 22px;left: 39px;bottom: 10px;}

/*page3*/
#skill_content {padding-top: 80px;}
#skill_list {width: 200%;display: inline-block;}
#skill_list1, #skill_list2, #skill_list3, #skill_list4 {
    width: 25%;
}
#about_list_content {border-radius: 10px;}
.flag {display: block;background: url(../images/jt.png) no-repeat center center;position: absolute;top: 75%;width: 80px;height: 80px;background-size: 80%;}
#flag1 {transform: rotateZ(0deg);left: 15%}
#flag2 {transform: rotateZ(180deg); right:  15%}
.skill_int {left: 0;padding: 15px;}
.skill_int li {font-size: 16px;}
#skill_list {position: relative;}
#skill_int1,#skill_int3 {left: 14%;}
#skill_int2,#skill_int4 {left: -85%;}
/*page4*/
#exp_list_slider {width: auto;}
.exp_list dl {margin-left: 20px;}
#exp_list_toleft, #exp_list_toright {position: absolute;top: 80%;}
.exp_list {background: none;}
#exp_info {width: auto;}
#exp_content {padding-top: 80px}
#exp_timeline {width: auto !important;}
#exp_info {font-size: 18px;}
/*page5*/
#demo_content {padding-top: 80px;}
#demo_content_list {width: auto;}
.demo_box li,.demo_box_bg  {width: 135px;height: 100px;}
.demo_box li:before {content: '';}
.demo_box li {outline: 9px solid #fff;}
#demo_info,#demo_info p {width: auto;font-size: 16px;}
/*page6*/
#contact_head,#contact_info {width: auto;}
#contact {padding-top: 80px;}

}
